* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    font-family: 'Roboto', sans-serif;
    background-color: black;
    display: flex;
    flex-direction: column;
}

img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.bouton1 {
    display: block;
    margin: 2rem auto; /* Centre le bouton horizontalement */
    font-size: 3rem;
    padding: 15px;
    background-color: rgb(134, 5, 5);
}
.text_bouton1 {
    text-decoration: none;
    color: black;
    color: rgb(255, 255, 94);
    font-weight: bold;
}
.title1erpage {
    margin-top: 20%;
    text-align: center;
    font-size: 3rem;
    color: white;
}